.jarvis-main-layout {
    position: relative;
    top: 87px;
}
.blankDiv {
    display: block;
    height: 35px;
    background-color: transparent;
}
.author-image-0ebc19bd3e574d8ea430ce7f291e1388 {
    background: url(/images/awards-images-sm.jpg) no-repeat center top #0051ff;
    background-size: cover;
}
.contact-form {
    margin-top: 80px;
}
#cards-section-webinars .card-content:hover .event-column .event-details {
    background-color: #e6e4de;
}
@media screen and (min-width: 48em) {
    .author-image-0ebc19bd3e574d8ea430ce7f291e1388 {
        background: url(/images/awards-images-lg.jpg) no-repeat;
        background-size: cover;
    }
}


.desktop-footer {
    font-family: "Open Sans", sans-serif;
}

.footer-share .dropdown-toggle button {
    /*color: white;*/
    /*border: 1px solid #8a8a8a !important;*/
    background-color: transparent;
    font-family: 'Open Sans';
    text-transform: uppercase;
    padding: 0.8rem 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 1px;
    /*margin-top: 10px;*/
    text-transform: capitalize;
    font-weight: 600;
}

.footer-share a {
    color: #8a8a8a;
}

.footer-share button:hover a {
    color: white;
}

.footer-share a:hover {
    color: white !important;
    text-decoration: none;
}

.footer-slogan {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 1.65rem 5rem 1.65rem 5rem;
    display: none;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .03rem;
    position: relative;
}

    .footer-slogan:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -1rem;
        border-top: 5.4rem solid #000;
        border-right: 1rem solid transparent;
    }


.hero .hero-content a.btn-hero:focus {
    text-decoration: none !important;
    color: #ffffff !important;
    background-color: transparent !important;
}