.jarvis-main-layout {
    position: relative;
    top: 87px;
}
.blankDiv {
    display: block;
    height: 35px;
    background-color: transparent;
}
.author-image-0ebc19bd3e574d8ea430ce7f291e1388 {
    background: url(/images/awards-images-sm.jpg) no-repeat center top #0051ff;
    background-size: cover;
}
.contact-form {
    margin-top: 80px;
}
#cards-section-webinars .card-content:hover .event-column .event-details {
    background-color: #e6e4de;
}
@media screen and (min-width: 48em) {
    .author-image-0ebc19bd3e574d8ea430ce7f291e1388 {
        background: url(/images/awards-images-lg.jpg) no-repeat;
        background-size: cover;
    }
}

