#tiles-container {
    background: #e6e4de;
    margin: 0;
    overflow-x: hidden;
}
#tiles-container a {
    text-decoration: none;
}
#tiles-container .card-container {
position: relative;
display: block;
overflow: hidden;
}
#tiles-container .card-container .image .tileimg {
    width: 100%;
}
#tiles-container .header-container .row {
    display: block;
    padding-bottom: 0;
}
    #tiles-container .header-container .row .header-content {
        border-bottom: 1px solid #aaa;
    }
#tiles-container .section-heading {
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: xx-large;
    font-weight: 100;
    font-stretch: semi-condensed;
    color: #343434;
    padding-bottom: 15px;
}
#tiles-container .heading-link {
    display: inline-block;
    float: right;
    border: 0.5px solid #222;
    padding: 10px 20px;
    background: #d6d6d6;
    color: #333;
    font-family: 'Open Sans';
    font-size: 15px;
}
    #tiles-container .heading-link:hover {
        background: #666;
        color: #fff;
    }
#tiles-container .row {
    padding: 3% 6% 3% 6%;
}
#tiles-container .col-sm-3 {
    padding-top: 20px;
    padding-bottom: 20px;
}
#tiles-container .tile-card {
    background: #fff;
    height: 420px;
    overflow: hidden;
}
    #tiles-container .tile-card:hover {
        border-bottom: 5px solid #333;
    }
        #tiles-container .tile-card:hover .card-container .image {
            transform: scale(1.2);
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
            overflow: hidden;
            box-sizing: border-box;
        }
    #tiles-container .tile-card .tile-card-link {
        text-decoration: none;
        height: inherit;
    }
#tiles-container .card-container .heading {
    position: absolute;
    background: rgba(33, 33, 33, 0.8);
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    color: #fff;
    font-size: 0.6rem;
    padding: 8px 25px;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 1px;
    width: auto;
    overflow: hidden;
}
#tiles-container .intro-container .content {
    color: #333333;
    padding: 20px;
    font-size: 1rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}
#tiles-container .dateclass {
    font-size: 12px;
    font-weight: 200;
    padding-top: 20px;
}