@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Sitecore.Data.Fields.MultilistField footerButtonLinks = Model.Item.Fields["Button"];
    var linkItems = footerButtonLinks.GetItems();
}

<style>
    .desktop-footer {
        font-family: "Open Sans", sans-serif;
    }

    .footer-share .dropdown-toggle button {
        /*color: white;*/
        /*border: 1px solid #8a8a8a !important;*/
        background-color: transparent;
        font-family: 'Open Sans';
        text-transform: uppercase;
        padding: 0.8rem 3rem;
        font-size: 1.3rem;
        font-weight: 400;
        display: inline-block;
        letter-spacing: 1px;
        /*margin-top: 10px;*/
        text-transform: capitalize;
        font-weight: 600;
    }

    .footer-share a {
        color: #8a8a8a;
    }

    .footer-share button:hover a {
        color: white;
    }

    .footer-share a:hover {
        color: white !important;
        text-decoration: none;
    }

    .footer-slogan {
        display: inline-block;
        background-color: #000;
        color: #fff;
        padding: 1.65rem 5rem 1.65rem 5rem;
        display: none;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: .03rem;
        position: relative;
    }

        .footer-slogan:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: -1rem;
            border-top: 5.4rem solid #000;
            border-right: 1rem solid transparent;
        }
    }
</style>

<div class="desktop-footer">
    <div class="footer-slogan">
        @Html.Sitecore().Field("Tagline")
    </div>
    <div class="footer-links hidden-md-up">
        <ul>
            <!-- BEGIN FOOTER NAVIGATION MOBILE -->
            <li>
                @Html.Sitecore().Field("Link")
            </li>
            <!-- END FOOTER NAVIGATION MOBILE -->
        </ul>
        <p>@Html.Sitecore().Field("Copyright Content")</p>
    </div>
    <div class="footer-share">
        @foreach (var linkItem in linkItems)
        {
            <button class="dropdown-toggle" id="sharethis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Html.Sitecore().Field("Link Name", linkItem)
            </button>
        }

        <!-- BEGIN SOCIAL MEDIA LINKS -->
        <!-- AddToAny BEGIN -->
        <div class="dropdown-menu sharelinks a2a_kit" aria-labelledby="sharethis" style="line-height: 16px;">
            <ul class="list-unstyled">
                <li>
                    <a class="a2a_button_twitter" target="_blank" href="/#twitter" rel="nofollow noopener"><i class="fa fa-twitter"></i>Twitter</a>
                </li>
                <li>
                    <a class="a2a_button_facebook" target="_blank" href="/#facebook" rel="nofollow noopener"><i class="fa fa-facebook-square"></i>Facebook</a>
                </li>
                <li>
                    <a class="a2a_button_linkedin" target="_blank" href="/#linkedin" rel="nofollow noopener"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
                </li>
                <li>
                    <a class="a2a_button_email" target="_blank" href="/#email" rel="nofollow noopener"><i class="fa fa-envelope-o"></i>Email</a>
                </li>
            </ul>
        </div>
    </div>
</div>