#cards-section-webinars {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
#cards-section-webinars img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    display: block;
}

#cards-section-webinars .card-content {
    border-top: 0;
    padding-top: 0;
    background-color: #f3f2ee;
    border-bottom: 5px solid #e6e4de;
}

#cards-section-webinars .event-row .event-column {
    padding: 20px;
}

#cards-section-webinars .event-row {
    min-height: 303px;
    box-sizing: inherit;
}

#cards-section-webinars .event-column.event-details {
    height: 160px;
    box-sizing: inherit;
    background-color: transparent;
}

#cards-section-webinars .event-column.event-host {
    display: block;
    background-color: #e6e4de;
    height: 318px;
    box-sizing: inherit;
}

#cards-section-webinars .event h4.event-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    line-height: 24px;
    font-weight: 700;
    color: #333333;
}

    #cards-section-webinars .event h4.event-title a {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        color: #424242;
        margin-bottom: 20px;
        border: none;
        padding: 0;
        text-transform: none;
        margin: 0;
        text-decoration: none;
        color: #262626;
    }

#cards-section-webinars .event h6 {
    font-size: 14px;
    color: #262626;
    font-weight: 400;
}

#cards-section-webinars .profile-label {
    display: table;
    width: 100%;
}

    #cards-section-webinars .profile-label .profile-row {
        display: table-row;
    }

    #cards-section-webinars .profile-label:not(:first-of-type) {
        margin-top: 20px;
    }

    #cards-section-webinars .profile-label .profile-row .content-container {
        display: table-cell;
        vertical-align: middle;
    }

        #cards-section-webinars .profile-label .profile-row .content-container.img-wrapper {
            width: 64px;
        }

            #cards-section-webinars .profile-label .profile-row .content-container.img-wrapper .img-profile {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }

        #cards-section-webinars .profile-label .profile-row .content-container.content-wrapper {
            padding-left: 20px;
        }

            #cards-section-webinars .profile-label .profile-row .content-container.content-wrapper h5 {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
            }

            #cards-section-webinars .profile-label .profile-row .content-container.content-wrapper h6 {
                font-size: 12px;
                font-family: "Open Sans", sans-serif;
                font-weight: 100;
            }

#cards-section-webinars .cards-container {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
}

.cards-container .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    .cards-container .card-group .card.col-lg-3 {
        padding: 10px 10px;
        display: table-cell;
        vertical-align: top;
        width: 25%;
        float: left;
    }

    .cards-container .card-group .card .card-content .event-table .event-row .event-column img {
        transform: none;
    }

.card-group .card .card-content:hover {
    border-bottom: 0;
    background-color: #e6e4de;
}

.card-group .card .card-content .event-table:hover {
    border-bottom: 5px solid #262626;
}

footer {
    clear: both;
}
