@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}

<html>

<head>
    <!-- <link rel="stylesheet" href="font-awesome.css"> -->
    <link rel="stylesheet" href="/css/perficient-main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
        @Html.Sitecore().Placeholder("Footer")
</body>

</html>