<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
   <!--<![endif]-->
<head>
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css">
    <link rel="stylesheet" href="Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="Css/perficient-main.css">
    <link href="Css/perficient-override.css" rel="stylesheet">
    <link href="Css/theme.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

</head>
   <body>
       @Html.Sitecore().Placeholder("header")
       @Html.Sitecore().Placeholder("mainContent")
   </body>
</html>