@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="col-xs-12 section-header">
    <h2><strong>@Html.Sitecore().Field("Content Heading")</strong>Partners</h2>
    <aside>
        @Html.Sitecore().Field("Content Intro")
    </aside>
</div>