@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="grid-col half">
    <a href=""> @*href="@Html.Sitecore().Field("Navigation Links")">*@

        @Html.Sitecore().Field("Image", new { alt = "" })

        <div class="grid-content">
            <h4>@Html.Sitecore().Field("Title")</h4>
            <p>@Html.Sitecore().Field("Navigation Title")</p>
        </div>
    </a>
</div>