@{
    Sitecore.Data.Fields.MultilistField otherlinksfield1 = Model.Item.Fields["rightSideMenu"];
    var otheritems1 = otherlinksfield1.GetItems();
}

<div class="pull-right utility-nav">
    <ul>
        @foreach (Sitecore.Data.Items.Item item in otheritems1)
        {
            Sitecore.Data.Fields.LinkField linkField = item.Fields["Navigation Links"];
            <li>
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(linkField.TargetItem)">
                    @Html.Sitecore().Field("Navigation Title", item)
                </a>
            </li>
        }
    </ul>
</div>