@{
    Sitecore.Data.Fields.MultilistField otherlinksfield = Model.Item.Fields["mainMenu"];
    var otheritems = otherlinksfield.GetItems();
}

@foreach (Sitecore.Data.Items.Item item in otheritems)
{
    Sitecore.Data.Fields.LinkField linkField = item.Fields["Navigation Links"];
    <li class="nav-item ">
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(linkField.TargetItem)" class="nav-link" id="servicesMenu">
            @Html.Sitecore().Field("Navigation Title", item)
        </a>
    </li>
}