@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section class="@Model.Rendering.Parameters["CssClass"]">
    <div class="container">
        <div class="row-container">
            @Html.Sitecore().DynamicPlaceholder("partners-heading")
        </div>

        <div class="row-container square-wrapper">
            @Html.Sitecore().DynamicPlaceholder("partners-content")
        </div>
    </div>
</section>