
<head>
      <link rel="stylesheet" type="text/css" href="Css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="Css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" media="all" href="Css/perficient-main.css">
      <link rel="stylesheet" type="text/css" href="Css/perficient-override.css" >
      <link rel="stylesheet" type="text/css" href="Css/theme.css">
  </head> 

<body>
<h1>ABC</h1>
  
      @Html.Sitecore().Placeholder("AwardPH") 

</body>