@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
//Layout = null;
}

<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Perficient, Inc. - Digital Transformation Consulting | vision. execution. value.  | Perficient, Inc</title>
<meta name="description" content=" Perficient is the leading digital transformation consulting firm serving Global 2000® and enterprise customers throughout North America.">
<link rel="canonical" href="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/a.htm">
<meta charset="utf-8">
<!--[if gt IE 8]><!-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
<!--<![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="theme-color" content="#cc1f20">

<link rel="icon" type="image/png" href="https://www.perficient.com/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.perficient.com/favicon-16x16.png" sizes="16x16">
<link href="~/Content/perficientbootstrap.css" rel="stylesheet" />
<!-- inject:css -->
<link href="~/Content/perficient-main.css" rel="stylesheet" />
<link href="~/content/perficient-override.css" rel="stylesheet" />
<!-- endinject -->
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css_002.css" rel="stylesheet" />
<link href="~/Content/css.css" rel="stylesheet" />
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="/dist/css/ie.css?v=20160804">
<![endif]-->
<!-- When customizing this component, ensure to use "Coveo.$" instead of the regular jQuery "$" to
     avoid any conflicts with Sitecore's Page Editor/Experience Editor.  -->

<script type="text/javascript" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/pd.js"></script>
<script type="text/javascript" async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/runtime.js"></script>
<script async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/loader.js"></script>
<script type="text/javascript" async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/insight.js"></script>
<script type="text/javascript" async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/insight.js"></script>
<script type="text/javascript" async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/analytics.js"></script>
<script async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/script.js"></script>
<script async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/icons.js"></script>
<script async="" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/gtm.js"></script>
<script type="text/javascript" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/CoveoJsSearch.js"></script>
<script type="text/javascript" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/CoveoForSitecorePolyfills.js"></script>
<script type="text/javascript" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/d3.js"></script>
<script type="text/javascript" src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/CoveoForSitecore.js"></script>

<!-- inject:js -->
<script src="Perficient,%20Inc.%20-%20Digital%20Transformation%20Consulting%20%20%20vision.%20execution.%20value.%20%20%20Perficient,%20Inc_files/perficient.js"></script>

<body>
    <main>
        @Html.Sitecore().Placeholder("mainContent")
    </main>
</body>
</html>
