@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="" class=" no-touchevents csstransitions">
<head>
    <title>@Html.Sitecore().Field("Meta Title")</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="~/Css/_webinar.css">
    <link rel="stylesheet" type="text/css" href="~/Css/perficient-main.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />
</head>
<body class="">
    <header role="banner" class=""></header>
    @Html.Sitecore().Placeholder("main")
    <footer>@Html.Sitecore().Placeholder("footer")</footer>
</body>
</html>