@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class=" no-touchevents csstransitions">
   <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Perficient, Inc</title>
	</meta>
<link href="/Css/bootstrap.css" rel="stylesheet">

<link rel="stylesheet" href="/Css/perficient-main.css">
<link rel="stylesheet" href="/Css/perficient-override.css">

<script src="/Scripts/perficient.js"></script>
	
        
      
    </head>
    <body class=""> 

            @Html.Sitecore().Placeholder("TabPH")
        
    </body>
</html>

